scripts/n8n/miami-motors-whatsapp-lead-progressive.json
{
  "name": "MIAMI MOTORS - Lead progresivo Skale",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "propertyName": "lead_state",
        "key": "={{ 'lead_status:' + $('Webhook').item.json.body.whatsappInboundMessage.from }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [4200, 1696],
      "id": "a1b2c3d4-redis-get-estado",
      "name": "CONSULTAR ESTADO LEAD",
      "credentials": {
        "redis": {
          "id": "YHYYVDtbpzfZBtux",
          "name": "Hessen"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('If').item.json.response }}\n\nEstado previo del lead (JSON, puede estar vacío):\n{{ $json.lead_state || '{}' }}",
        "options": {
          "systemMessage": "Primer mensaje del cliente esperado: \"Hola! Quiero agendar mi visita.\"\n\nEres el Asistente Virtual de Miami Motors. Guías al cliente para recolectar datos de forma de compra con promoción estanque lleno. NO agendas citas; un humano coordina después.\n\nDATOS CRÍTICOS (uno por mensaje):\n1. city (La Serena u otra)\n2. payment_method (al contado | dando un pie) y pie si aplica\n3. full_name\n4. purchase_time\n5. budget (opcional pero deseable)\n\nREGLAS:\n- Si hay estado previo en JSON, NO repitas preguntas de campos ya conocidos.\n- Pregunta UN solo dato por turno.\n- Si el cliente dice que irá más tarde / en la tarde / hoy: ready_for_sales = true de inmediato.\n- Cuando tengas todos los críticos O cierre directo: ready_for_sales = true, route = ventas, lead_status = lead_calificado, confidence_level = alto.\n- Mensaje final si ready_for_sales: \"Perfecto, te llamaremos desde Miami Motors para confirmar tu cita 🫵🏻🩷\"\n- DICOM: explica postular con familiar sin DICOM.\n- Fuera de contexto: \"Solo puedo ayudar con consultas relacionadas a Miami Motors y la promoción de esta semana.\"\n- Catálogo: https://www.instagram.com/miamimotors_chile/\n- Horario: 9:00 AM a 19:00 PM. Ubicación: Auto Shopping Mall Puertas del Mar.\n\nFORMATO DE RESPUESTA (obligatorio al final de cada turno, bloque JSON válido):\n```json\n{\n  \"reply_message\": \"texto que verá el cliente en WhatsApp este turno\",\n  \"full_name\": null,\n  \"city\": null,\n  \"payment_method\": null,\n  \"pie\": null,\n  \"purchase_time\": null,\n  \"budget\": null,\n  \"ready_for_sales\": false,\n  \"route\": null,\n  \"lead_status\": null,\n  \"confidence_level\": null,\n  \"mensaje_mike\": \"\"\n}\n```\n\n- reply_message: solo el mensaje humano de ESTE turno (sin el JSON).\n- En cada turno incluye en el JSON TODOS los datos ya conocidos (del estado previo + nuevos).\n- mensaje_mike: solo cuando ready_for_sales=true, formato multilínea:\n  Nombre:\\nTelefono:\\nCiudad:\\nMétodo de pago:\\nPie:\\nFecha aproximada de compra:\\nPresupuesto:\\nObservación:\n- No inventes datos. null si desconocido."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [4448, 1696],
      "id": "bf85344b-3fa9-4e15-bc63-5a7019d524b8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [4320, 1952],
      "id": "4b62d871-12c7-4dee-9d61-ec5cb64e4b3c",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "0V3YuLeeujWOkOgd",
          "name": "HESSEN"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.whatsappInboundMessage.from }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [4448, 2032],
      "id": "175c19f7-c8bf-463f-a971-67dfbf0cf11d",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "6ryypMqs5DizYTLN",
          "name": "Hessen"
        }
      }
    },
    {
      "parameters": {
        "description": "Úsalo antes de responder: verifica qué datos faltan (city, payment_method, name, purchase_time, budget) y si corresponde cierre rápido."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [4592, 2080],
      "id": "6af1f971-815a-4826-872a-f02a8009bd37",
      "name": "Think2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Extrae y normaliza el JSON del agente. Combina con estado previo si el agente omitió campos ya conocidos.\n\nSalida del agente:\n{{ $('AI Agent').item.json.output }}\n\nEstado previo Redis:\n{{ $('CONSULTAR ESTADO LEAD').item.json.lead_state || '{}' }}\n\nTeléfono WhatsApp (usar si phone null): {{ $('Webhook').item.json.body.whatsappInboundMessage.from }}"
            },
            {
              "role": "system",
              "content": "Devuelve SOLO un JSON válido según el schema. Sin markdown.\n\nReglas:\n- reply_message: mensaje humano para WhatsApp en ESTE turno.\n- Conserva datos del estado previo si el agente no los repitió.\n- payment_method solo: \"al contado\", \"dando un pie\" o null.\n- phone: solo dígitos Chile (sin +).\n- pie y budget: number o null.\n- ready_for_sales: boolean.\n- route solo \"ventas\" o null cuando no califica.\n- lead_status solo \"lead_calificado\" o null.\n- confidence_level: alto|medio|bajo o null.\n- mensaje_mike: string completo multilínea cuando ready_for_sales=true; si no, string vacío.\n- No inventes valores."
            }
          ]
        },
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"reply_message\": { \"type\": \"string\" },\n    \"full_name\": { \"type\": [\"string\", \"null\"] },\n    \"phone\": { \"type\": [\"string\", \"null\"] },\n    \"city\": { \"type\": [\"string\", \"null\"] },\n    \"payment_method\": { \"type\": [\"string\", \"null\"], \"enum\": [\"al contado\", \"dando un pie\", null] },\n    \"pie\": { \"type\": [\"number\", \"null\"] },\n    \"purchase_time\": { \"type\": [\"string\", \"null\"] },\n    \"budget\": { \"type\": [\"number\", \"null\"] },\n    \"ready_for_sales\": { \"type\": \"boolean\" },\n    \"route\": { \"type\": [\"string\", \"null\"], \"enum\": [\"ventas\", null] },\n    \"lead_status\": { \"type\": [\"string\", \"null\"], \"enum\": [\"lead_calificado\", null] },\n    \"confidence_level\": { \"type\": [\"string\", \"null\"], \"enum\": [\"alto\", \"medio\", \"bajo\", null] },\n    \"mensaje_mike\": { \"type\": \"string\" }\n  },\n  \"required\": [\n    \"reply_message\",\n    \"full_name\",\n    \"phone\",\n    \"city\",\n    \"payment_method\",\n    \"pie\",\n    \"purchase_time\",\n    \"budget\",\n    \"ready_for_sales\",\n    \"route\",\n    \"lead_status\",\n    \"confidence_level\",\n    \"mensaje_mike\"\n  ],\n  \"additionalProperties\": false\n}"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [4720, 1696],
      "id": "92a6519a-2068-446f-bd8e-ee6fea933677",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "0V3YuLeeujWOkOgd",
          "name": "HESSEN"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const waFrom = $('Webhook').item.json.body.whatsappInboundMessage.from;\n\nlet prev = {};\ntry {\n  const raw = $('CONSULTAR ESTADO LEAD').first().json.lead_state;\n  if (raw) prev = JSON.parse(raw);\n} catch {}\n\nlet model = $input.first().json.output?.[0]?.content?.[0]?.text ?? $input.first().json;\nif (typeof model === 'string') {\n  try { model = JSON.parse(model); } catch {}\n}\n\nfunction pick(...vals) {\n  for (const v of vals) {\n    if (v !== undefined && v !== null && String(v).trim() !== '') return v;\n  }\n  return null;\n}\n\nfunction digits(v) {\n  if (!v) return null;\n  const d = String(v).replace(/\\D/g, '');\n  return d || null;\n}\n\nconst phone = digits(pick(model.phone, waFrom, prev.phone));\n\nconst merged = {\n  reply_message: pick(model.reply_message, prev.reply_message) || 'Hola! Bienvenido a Miami Motors.',\n  full_name: pick(model.full_name, prev.full_name),\n  phone,\n  city: pick(model.city, prev.city),\n  payment_method: pick(model.payment_method, prev.payment_method),\n  pie: model.pie != null && model.pie !== '' ? Number(model.pie) : (prev.pie != null ? Number(prev.pie) : null),\n  purchase_time: pick(model.purchase_time, prev.purchase_time),\n  budget: model.budget != null && model.budget !== '' ? Number(model.budget) : (prev.budget != null ? Number(prev.budget) : null),\n  ready_for_sales: model.ready_for_sales === true || prev.ready_for_sales === true,\n  route: pick(model.route, prev.route),\n  lead_status: pick(model.lead_status, prev.lead_status),\n  confidence_level: pick(model.confidence_level, prev.confidence_level),\n  mensaje_mike: pick(model.mensaje_mike, prev.last_mensaje_mike) || '',\n  mike_sent: prev.mike_sent === true,\n  lead_id: prev.lead_id || null,\n};\n\nreturn [{ json: merged }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4960, 1696],
      "id": "e600a55a-ca62-424b-b2b4-c0b1ba1dc67d",
      "name": "MERGE Y NORMALIZAR"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://skalemotors-v2.vercel.app/api/n8n-lead-ingest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const o = $('MERGE Y NORMALIZAR').item.json;\n  const phone = $('Webhook').item.json.body.whatsappInboundMessage.from;\n  const body = { source: 'whatsapp', update_existing: true, phone };\n  if (o.full_name) body.full_name = o.full_name;\n  if (o.city) body.region = o.city;\n  if (o.payment_method) body.payment_type = o.payment_method;\n  if (o.budget != null && !Number.isNaN(o.budget)) body.budget = String(o.budget);\n  if (o.pie != null && !Number.isNaN(o.pie)) body.pie_disponible = String(o.pie);\n  if (o.mensaje_mike) {\n    body.mensaje_mike = o.mensaje_mike;\n    body.chat_summary = o.mensaje_mike;\n  }\n  if (o.purchase_time) body.notes = 'Fecha estimada de compra: ' + o.purchase_time;\n  if (o.ready_for_sales === true) body.status = 'interesado';\n  return body;\n})() }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "name": "GUARDAR LEAD PROGRESIVO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5200, 1696],
      "id": "8ed269c1-3912-41fd-9ff0-f0d7f318826c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cw4criaEes5STZaD",
          "name": "MIAMI SKALE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const merged = $('MERGE Y NORMALIZAR').item.json;\nconst res = $input.first().json;\nconst api = res.body ?? res;\nconst leadId = api?.data?.id ?? merged.lead_id ?? null;\n\nconst mikeSent = merged.mike_sent === true || (merged.ready_for_sales === true && merged.mensaje_mike);\n\nconst state = {\n  lead_id: leadId,\n  mike_sent: merged.ready_for_sales ? true : merged.mike_sent,\n  sent_at: merged.ready_for_sales && !merged.mike_sent ? new Date().toISOString() : (merged.sent_at ?? null),\n  full_name: merged.full_name,\n  city: merged.city,\n  payment_method: merged.payment_method,\n  pie: merged.pie,\n  purchase_time: merged.purchase_time,\n  budget: merged.budget,\n  ready_for_sales: merged.ready_for_sales,\n  last_mensaje_mike: merged.mensaje_mike || '',\n  last_route: merged.route || 'validacion',\n  reply_message: merged.reply_message,\n  phone: merged.phone,\n};\n\nreturn [{ json: { ...merged, lead_id: leadId, redis_payload: JSON.stringify(state) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5440, 1696],
      "id": "f1e2d3c4-preparar-redis",
      "name": "PREPARAR REDIS"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'lead_status:' + $('Webhook').item.json.body.whatsappInboundMessage.from }}",
        "value": "={{ $json.redis_payload }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [5680, 1696],
      "id": "437f715f-f8d0-4fbc-a650-f1a19cfa4369",
      "name": "GUARDAR ESTADO REDIS",
      "credentials": {
        "redis": {
          "id": "YHYYVDtbpzfZBtux",
          "name": "Hessen"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "lead-ready",
                    "leftValue": "={{ $('PREPARAR REDIS').item.json.ready_for_sales }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  },
                  {
                    "id": "lead-msg",
                    "leftValue": "={{ $('PREPARAR REDIS').item.json.mensaje_mike }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LEAD"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "validacion",
                    "leftValue": "={{ $('PREPARAR REDIS').item.json.ready_for_sales }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VALIDACION"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [5920, 1696],
      "id": "b2a02dd2-8aa8-4791-8671-ae2ef36772dc",
      "name": "Switch Lead o Validación"
    },
    {
      "parameters": {
        "toNumber": "={{ $('Webhook').item.json.body.whatsappInboundMessage.from }}",
        "text": "={{ $('PREPARAR REDIS').item.json.reply_message }}"
      },
      "type": "n8n-nodes-ycloud-whatsapp-api.YCloudWhatsApp",
      "typeVersion": 1,
      "position": [6160, 1584],
      "id": "65f39571-5279-4ef0-baa1-d3a6b6dba0a8",
      "name": "ENVIAR MENSAJE VALIDACION",
      "credentials": {
        "YCloudApi": {
          "id": "43eHmDkOFiwtwiTC",
          "name": "HESSEN"
        }
      }
    },
    {
      "parameters": {
        "toNumber": "={{ $('Webhook').item.json.body.whatsappInboundMessage.from }}",
        "text": "={{ $('PREPARAR REDIS').item.json.reply_message }}"
      },
      "type": "n8n-nodes-ycloud-whatsapp-api.YCloudWhatsApp",
      "typeVersion": 1,
      "position": [6160, 1808],
      "id": "85e87dba-e8c6-497a-ac57-0533e0a98d56",
      "name": "ENVIAR MENSAJE CIERRE",
      "credentials": {
        "YCloudApi": {
          "id": "43eHmDkOFiwtwiTC",
          "name": "HESSEN"
        }
      }
    }
  ],
  "connections": {
    "CONSULTAR ESTADO LEAD": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "MERGE Y NORMALIZAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE Y NORMALIZAR": {
      "main": [
        [
          {
            "node": "GUARDAR LEAD PROGRESIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARDAR LEAD PROGRESIVO": {
      "main": [
        [
          {
            "node": "PREPARAR REDIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREPARAR REDIS": {
      "main": [
        [
          {
            "node": "GUARDAR ESTADO REDIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARDAR ESTADO REDIS": {
      "main": [
        [
          {
            "node": "Switch Lead o Validación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Lead o Validación": {
      "main": [
        [
          {
            "node": "ENVIAR MENSAJE CIERRE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ENVIAR MENSAJE VALIDACION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
